<div class="navbar-fixed-top" align="center">
    <a href="/#bio" class="header_item">&lt;bio&gt;</a>
    <a href="/#build" class="header_item">&lt;things i've built&gt;</a>
    <a href="/#contact" class="header_item">&lt;contact&gt;</a>
    <!-- <a href="/#schedule" class="header_item">&lt;schedule&gt;</a>
    <a href="/#product" class="header_item">&lt;my products&gt;</a>
    <a href="/#blog" class="header_item">&lt;ama&gt;</a>
     -->
</div>